.contact
    display: block

.contact h3
    display: flex
    justify-content: center
    font-size: 5rem
    margin: 4rem 0 0 0
    
.contact p
    width: 70%
    margin: 0 auto
    font-size: 3rem
    text-align: center
    text-transform: uppercase
    font-weight: 700
    color: var(--roxo-claro)

.container
    display: flex
    justify-content: center
    column-gap: 5rem

.div-left
    display: flex
    align-items: center
    width: auto
  

.div-left ul
    margin: 0
    padding: 0

.li
    display: flex
    justify-content: start
    align-items: center
    font-size: 22px
    color: rgba(255, 255, 255, .7)
    gap: 4px
    list-style-type: none
    
.copy
    display: flex
    justify-content: center
    align-items: center
    width: 44px
    height: 44px
    padding: 0
    background-color: transparent
    border: 1px solid transparent
    border-radius: 6px
    cursor: pointer
    transition: background-color 0.3s ease

.bx-mobile-alt, .bx-envelope
    
    font-size: 38px
    color: var(--roxo-claro)

.copy .bx-copy
    color: rgba(255, 255, 255, 0.61)
    font-size: 30px

.copy .bx-check
    color: green
    font-size: 30px

.copy:hover
    background: rgba(255, 255, 255, 0.11)
    color: rgba(255, 255, 255, 0.671)

.copy:active
    background: rgba(190, 8, 245, 0.295)
    color: rgba(190, 8, 245, 0.884)

.div-right img
    width: 500px