<section class="contact">
    <h3>Contato</h3>
    <p>Muito obrigado por chegar até aqui!</p>
    <div class="container">
        <div class="div-left">
            <ul>
                <li class="li email">
                    <i class='bx bx-envelope bx-flashing' ></i>
                    flocoswhite@gmail.com
                    <button class="copy" (click)="copiarEmail()" title="Copiar email para a área de transferência">
                        <i class='bx bx-copy' *ngIf="copy1"></i>
                        <i class='bx bx-check' *ngIf="check1"></i>
                    </button>
                </li>
                <li class="li tell">
                    <i class='bx bx-mobile-alt bx-tada' ></i>
                    (62) 993305993
                    <button class="copy" (click)="copiarNumero()" title="Copiar número para a área de transferência">
                        <i class='bx bx-copy' *ngIf="copy2"></i>
                        <i class='bx bx-check' *ngIf="check2"></i>
                    </button>
                </li>
            </ul>
            <a class="btn-whats" href="https://wa.me/5562993305993" target="_blank" title="começar uma conversa"><i class='bx bxl-whatsapp'></i>Whatsapp</a>
        </div>
        <div class="div-right">
            <img src="./assets/imgs/iconMensagem.png" alt="Ícone de mensagem">
        </div>
    </div>
</section>