<section id="about">
    <div class="about hidden">
        <div class="about__photo" appScrollAnimator animationClass="fadeFromLeft">
            <img src="./assets/imgs/cartoon.png" alt="Cartoon ilustrativo">
        </div>
        <div class="about__text" appScrollAnimator animationClass="fadeFromRight">
            <h3>Sobre <span>mim</span></h3>
            <p>Olá! Sou João Vitor, estou cursando Análise e Desenvolvimento de Sistemas. Concluí
                diversos cursos de desenvolvimento Front-End e, atualmente, estou extremamente entusiasmado com a
                possibilidade de aplicar meu conhecimento e desenvolver minhas habilidades em um ambiente profissional
                dinâmico. Enquanto não consigo a primeira vaga, vou aperfeiçoando-me em diversos cursos e registrando os
                meus projetos no GitHub. Você pode pedir um serviço, para saber mais, entre em contato.</p>
        </div>
    </div>
</section>