.footer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center 

    height: 80px
    background: var(--second-color)

.footer p
    font-size: 20px
    text-transform: capitalize
    color: white
    opacity: .85

.footer a
    text-decoration: none
    color: var(--blue)

.footer a:active
    color: #9c09ff
    

@media (0px <= width <= 590px)
    .footer
        height: 64px

    .footer p
        font-size: 16px

@media (0px <= width <= 430px)
    .footer
        height: 50px

    .footer p
        font-size: 12px
      
