<header class="header" >
    <a href="#home" class="logo"><span>&lt;</span>Portfolio<span>&gt;</span></a>

    <button id="menu-icon" class="hamburguer" (click)="HiddenNav()" [ngClass]="{'showBt': buttonAnimation}" >
        <!-- <i class='bx bx-menu'></i> -->
    </button>
    
    

    <nav class="navbar" appScroll (sectionChange)="onSectionChange($event)" [ngClass]="{'show': isNavbarVisible}" >
        <a href="#about" [class.active]="activeSection === 'about'" >Sobre</a>
        <a href="#skills" [class.active]="activeSection === 'skills'" >Skills</a>
        <a href="#projects" [class.active]="activeSection === 'projects'" >Projetos</a>
        <a href="#contact" [class.active]="activeSection === 'contact'">Contato</a>
    </nav>
</header>