:root
    --bg-color: #24001e
    --second-bg-color: #390734
    --text-color: white
    --main-color:#631660
    --roxo-claro:#771d76

*
    font-family: 'Roboto', sans-serif
    text-decoration: none
    box-sizing: border-box
    scroll-behavior: smooth

html
    overflow-x: hidden

body
    background: var(--bg-color)
    color: var(--text-color)